@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
body{
  background-image: url('images/background.png');
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}
.container{
  position: relative;
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 40px 30px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}
.container .cover{
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 50%;
  z-index: 100;
  transition: all 0.5s ease;
  transform-origin: left;
}
  .container #flip:checked ~ .cover{
    transform: rotateY(-180deg);
  }
.container .cover img{
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.container .forms{
  height: 100%;
  width: 100%;
  background: #fff;
}
.container .form-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-content .login-form,
.form-content .signup-form{
  width: calc(100% / 2 - 25px);
}
.forms .form-content .title{
  position: relative;
  font-size: 24px;
  font-weight: 500;
  color: rgb(0, 0, 0);
}

.forms .form-content .input-boxes{
  margin-top: 30px;
}
.forms .form-content .input-box{
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 10px 0;
  position: relative;
}
.form-content .input-box input{
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid rgba(0,0,0,0.2);
  transition: all 0.5s ease;
}
.form-content .input-box input:focus,
.form-content .input-box input:valid{
  border-color: #F7770F;
}
.form-content .input-box i{
  position: absolute;
  color: #f7770f;
  font-size: 17px;
}
.forms .form-content .text{
  font-size: 14px;
  font-weight: 500;
  color: #333;
}
.forms .form-content .text a:hover{
  text-decoration: underline;
}
.forms .form-content .button{
  color: #fff;
  margin-top: 40px;
}
.forms .form-content .button input{
  color: #fff;
  background: #F7770F;
  border-radius: 6px;
  padding: 0;
  cursor: pointer;
  transition: all 0.4s ease;
}
.forms .form-content .button input:hover{
  background: #fd943e;
}
.forms .form-content label{
  color: #fd943e;
  cursor: pointer;
}
.forms .form-content label:hover{
  text-decoration: underline;
}
.forms .form-content .login-text,
.forms .form-content .sign-up-text{
  text-align: center;
  margin-top: 25px;
}
.container #flip{
  display: none;
}


@media (max-width: 600px) {
	.container .cover{
	  display: none;
	}
	.form-content .login-form,
	.form-content .signup-form{
	  width: 100%;
	}
	.form-content .signup-form{
	  display: none;
	}
	.container #flip:checked ~ .forms .signup-form{
	  display: block;
	}
	.container #flip:checked ~ .forms .login-form{
	  display: none;
	}
  }

